[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nestjs-Microservices-Tatis/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nestjs-Microservices-Tatis/products-microservice.git
